[project]
name = "spatialpandas"
channels = ["pyviz/label/dev", "conda-forge"]
platforms = ["linux-64", "osx-arm64", "osx-64", "win-64"]

[tasks]
install = 'python -m pip install --no-deps --disable-pip-version-check -e .'

[activation.env]
PYTHONIOENCODING = "utf-8"
DASK_DATAFRAME__QUERY_PLANNING = "False" # TODO: Support query planning
USE_PYGEOS = '0'

[environments]
test-39 = ["py39", "test-core", "test", "test-task", "example", "test-example"]
test-310 = ["py310", "test-core", "test", "test-task", "example", "test-example"]
test-311 = ["py311", "test-core", "test", "test-task", "example", "test-example"]
test-312 = ["py312", "test-core", "test", "test-task", "example", "test-example"]
test-core = ["py312", "test-core", "test-core-task"]
build = ["py311", "build"]
lint = ["py311", "lint"]

[dependencies]
dask-core = "*"
fsspec = "*"
numba = "*"
pandas = "<2.2" # FIX: Temporary upper pin
param = "*"
pip = "*"
pyarrow = ">=1.0,<15" # FIX: Temporary upper pin
retrying = "*"

[feature.py39.dependencies]
python = "3.9.*"

[feature.py310.dependencies]
python = "3.10.*"

[feature.py311.dependencies]
python = "3.11.*"

[feature.py312.dependencies]
python = "3.12.*"

[feature.example.dependencies]
datashader = "*"
descartes = "*"
distributed = "*"
geopandas-base = "<1" # FIX: temporary upper pin
pyogrio = "*"
holoviews = "*"
matplotlib-base = "*"

# =============================================
# =================== TESTS ===================
# =============================================
[feature.test-core.dependencies]
hypothesis = "*"
psutil = "*"
pytest = "*"
pytest-cov = "*"
pytest-github-actions-annotate-failures = "*"
pytest-xdist = "*"

[feature.test-core-task.tasks]
test-unit = 'pytest spatialpandas/tests -n logical --dist loadgroup --skip-slow'

[feature.test.dependencies]
geopandas-base = "*"
hilbertcurve = "*"
# "moto[s3,server]" = "*"  # FIX: Add Back
python-snappy = "*"
s3fs = ">=2023"  # Weird solve on Linux + Python 3.9
scipy = "*"
shapely = "*"

[feature.test-task.tasks]
test-unit = 'pytest spatialpandas/tests -n logical --dist loadgroup'

[feature.test-example.dependencies]
nbval = "*"

[feature.test-example.tasks]
test-example = 'pytest -n logical --dist loadscope --nbval-lax examples'

# =============================================
# ================== BUILD ====================
# =============================================
[feature.build.dependencies]
python-build = "*"
conda-build = "*"

[feature.build.tasks]
build-conda = 'bash scripts/conda/build.sh'
build-pip = 'python -m build .'

# =============================================
# =================== LINT ====================
# =============================================
[feature.lint.dependencies]
pre-commit = "*"

[feature.lint.tasks]
lint = 'pre-commit run --all-files'
lint-install = 'pre-commit install'
